/*Partie Menu*/

* {
    margin: 0px;
    font-family: Tahoma, Geneva, sans-serif;
}

/*Partie Header*/

header {
    background-color: #31394d;
    text-align: center;
    width: 100%;
}

.menu button {
    background-color: #31394d;
    border: 0px;
    color: white;
    padding: 2vh 24px;
    cursor: pointer;
    float: left;
    width: 24%;
}

.menu button:hover {
    background-color: #6f82b3;
}

.home a {
    display: flex;
    position: relative;
    float: left;
    background-color: #cec6b2;
    background-image: url(../img/homeLogo.png);
    background-size: 6.3vh;
    background-repeat: no-repeat;
    filter: invert(100%);
    width: 4%;
    height: 6.2vh;
    background-position: center;
}

.home a:hover {
    background-color: #907d4c;
}

/*Partie contenu*/

main {
    background-color: #ffffff;
}

.banniere {
    height: 100vh;
    background-image: url("../img/neuraOriginal.jpg");
    background-repeat: no-repeat;
    background-size: 100vw, 98vh;
    background-position: center top;
    color: white;
    text-align: center;
}

.banniere h1 {
    text-align: left;
    color: rgb(88, 87, 87);
    padding: 35% 12% 0% 8%;
    font-style: inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 8vh;
}

.banniere a {
    position: relative;
    top: 17vh;
    color: white;
}

.intro {
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    background-color: rgb(234, 234, 241);
    color: rgb(0, 0, 0);
    text-align: left;
    text-decoration: none;
    padding: 2% 2% 2% 0;
    font-size: 2.5vh;
}

.intro p {
    margin-left: 2%;
}

.article {
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);
    text-align: left;
    text-decoration: none;
    padding: 0 2% 0 0;
}

.article p {
    text-decoration: none;
    font-size: 2vh;
}

.article:hover {
    background-color: rgb(216, 216, 216);
    text-decoration: underline rgb(216, 216, 216);
}

.article img {
    width: 20vw;
    margin-right: 5vw;
    margin-bottom: -0.8%;
}

.article h1 {
    text-align: left;
    font-size: 5vh;
}

/*Partie Footer*/

footer {
    text-align: right;
    background-color: #31394d;
    bottom: 0;
    width: 100%;
    position: static;
    background-image: url("../img/IUT_Site_Tlse_I.jpg");
    background-repeat: no-repeat;
    background-position: 99%;
    background-size: 8vh;
}

footer p, a {
    text-align: center;
    color: white;
}

.logo-iut img {
    width: 10vh;
}