/*Partie Menu*/

*{
    margin:0px;
    font-family: Tahoma, Geneva, sans-serif;
}

/*Partie Header*/

header {
    background-color : #31394d
    ;
    text-align : center;
    width : 100%;
}

.menu button{
    background-color: #31394d;
    border: 0px;
    color: white;
    padding: 2vh 24px;
    cursor: pointer;
    float: left;
    width: 24%;
}


.menu button:hover{
    background-color: #6f82b3;
}
.home a{
    display: flex;
    position: relative;
    float: left;
    background-color: #cec6b2;
    background-image: url(../img/homeLogo.png);
    background-size: 6.3vh;
    background-repeat: no-repeat;
    filter: invert(100%);
    width: 4%;
    height: 6.2vh;
    background-position: center;
}

.home a:hover{
    background-color: #907d4c;
}

/*partie body*/

.container{
    margin-top: 1vh;
    margin-left: 5%;
    display: inline-flex;
}
.container div{
    margin: 2%;
}
.side{
    padding-top: 3vh;
    padding-bottom: 2vh;
    width: 30%;
	height: 30vw;
    background-color: rgb(233, 222, 210);
    filter: opacity(90%);
    flex-wrap: wrap;
}
.side a{
    margin-top: center;
    position: center;
    flex-basis:10%;
    background-repeat: no-repeat;
    z-index: 2;
    color: transparent;
}

.side h3 {
    text-align: center;
    margin-bottom: 3vh;
}

.side img{
    width: 60%;
    margin-left: 3.5vw;
    border-radius: 20% 20% 20% 20%;
}
.texteside{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top:250vh;
    color: #31394d;
    z-index: 1;
}
.side a :hover{
    filter: opacity(20%);
    filter: blur(2px);
}
.side h1{
    text-align: center;
    font-size: 100%;
    font-family: cursive;
    font-style: normal;
}
.texte{
    width: 100%;
    background-color: rgb(233, 222, 210);
    filter: opacity(90%);
    text-align: justify;
    padding-left: 2vw;
    padding-right: 2vw;
}

.texte h1, h4{
    text-align: center;
}

.texte h3{
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.texte p{
    text-indent: 5%;
}

.textepetit {
    text-align: center;
    font-size: 70%;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#lienParagraphe {
    color: black;
}

.texte img{
    width: 70%;
    margin-left: 15%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 10% 10% 10% 10%;;
}

.videoYT {
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 2%;
}

.videoYT iframe{
    width: 60vw;
    height: 70vh;
}

.titre{
    font-weight: bold;
    font-size: 300%;
    font-style: normal;
    font-family: cursive;
}   
.soustitre {
    font-weight: normal;
    font-size: 120%;
    font-style: inherit;
    font-variant: initial;
}
.article{
    display: fixed;
    position: relative;
    font-size: 100%;
}

/*Partie Footer*/
footer{
    text-align: right;
    background-color: #31394d;
    bottom: 0;
    width: 100%;
    position: static;
    background-image: url("../img/IUT_Site_Tlse_I.jpg");
    background-repeat: no-repeat;
    background-position: 99%;
    background-size: 8vh;
}

footer p, a{
    text-align: center;
    color : white;
}


.logo-iut img{ 
    width: 10vh;
}