/*Partie Menu*/

*{
    margin:0px;
    font-family: Tahoma, Geneva, sans-serif;
}

/*Partie Header*/

header {
    background-color : #31394d
    ;
    text-align : center;
    width : 100%;
}

.menu button{
    background-color: #31394d;
    border: 0px;
    color: white;
    padding: 2vh 24px;
    cursor: pointer;
    float: left;
    width: 25%;
}

.menu button:hover{
    background-color: #6f82b3;
}

/*partie body*/
.cerveau{
    height: 100vh;
    background-image: url("../img/stylé.jpg");
    background-repeat: no-repeat;
    background-size: 100vw, 98vh;
    background-position: center top;
    color: white;
    text-align: center;
}

.container{
    margin-top: 1%;
    margin-left: 3%;
	display: inline-flex;
}
.container > div{
    margin: 2%;
}
.side{
    width: 30%;
	height: 500px;
    background-color: rgb(228, 219, 167);
    flex-wrap: wrap;
}
.side a{
    margin-top: center;
    position: center;
    flex-basis:10%;
    background-repeat: no-repeat;
    z-index: 2;
    color: transparent;
}
.side img{
    height: 30%;
    max-height: 100%;
    width: 50%;
    position: center;
    margin-left: 5vw;
}
.texteside{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top:250vh;
    color: #31394d;
    z-index: 1;
}


.texte{
    width: 100%;
    background-color: rgb(228, 219, 167);
    text-align: center;
}
.textepetit {
    text-align: center;
    font-size: 70%;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.texte img{
    height: 40%;
    width: 30%;
}
.titre{
    font-weight: bold;
    font-size: 300%;
    font-style: normal;
    font-family: cursive;
}   
.soustitre {
    font-weight: normal;
    font-size: 120%;
    font-style: inherit;
    font-variant: initial ;
}
.article{
    display: fixed;
    position: relative;
    font-size: 100%;
}

/*Partie Footer*/
footer{
    text-align: right;
    background-color: #31394d;
    bottom: 0;
    width: 100%;
    position: static;
    background-image: url("../img/IUT_Site_Tlse_I.jpg");
    background-repeat: no-repeat;
    background-position: 99%;
    background-size: 8vh;
}

footer p, a{
    text-align: center;
    color : white;
}


.logo-iut img{ 
    width: 10vh;
}