/*Partie Menu*/

*{
    margin:0px;
    font-family: Tahoma, Geneva, sans-serif;
}

/*Partie Header*/

header {
    background-color : #31394d
    ;
    text-align : center;
    width : 100%;
}

.menu button{
    background-color: #31394d;
    border: 0px;
    color: white;
    padding: 2vh 24px;
    cursor: pointer;
    float: left;
    width: 25%;
}

.menu button:hover{
    background-color: #6f82b3;
}

/*Partie contenu*/

main{
    background-color: #ffffff;
}

.cerveau{
    height: 100vh;
    background-image: url("../img/neuraOriginal.jpg");
    background-repeat: no-repeat;
    background-size: 100vw, 98vh;
    background-position: center top;
    color: white;
    text-align: center;
}
.cerveau h1{
    text-align: left;
    color: rgb(88, 87, 87);
    padding: 35% 12% 0% 8%;
    font-style: inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xxx-large;
}

.cerveau a{
    position: relative;
    top: 17vh;
    color: white;
}



.article1 {
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);
    text-align: left;   
    text-decoration: none;
    
  }


.article1:hover{
    background-color: rgb(216, 216, 216);
    
    
}
.article1 img{
    width: 20vw;
    margin-right: 5vw;
}

.article1 h1{
    text-align: left;
}



/*Partie Footer*/


footer{
    text-align: right;
    background-color: #31394d;
    bottom: 0;
    width: 100%;
    position: static;
    background-image: url("../img/IUT_Site_Tlse_I.jpg");
    background-repeat: no-repeat;
    background-position: 99%;
    background-size: 8vh;
}



footer p, a{
    text-align: center;
    color : white;
}


.logo-iut img{ 
    width: 10vh;
    
}