/*Partie Menu*/

*{
    margin:0px;
    font-family: Tahoma, Geneva, sans-serif;
}

/*Partie Header*/

header {
    background-color : #31394d
    ;
    text-align : center;
    width : 100%;
}

.menu button{
    background-color: #31394d;
    border: 0px;
    color: white;
    padding: 2vh 24px;
    cursor: pointer;
    float: left;
    width: 25%;
}

.menu button:hover{
    background-color: #6f82b3;
}
.home a{
    display: flex;
    position: relative;
    float: left;
    background-color: #cec6b2;
    background-image: url(../img/homeLogo.png);
    background-size: 6.3vh;
    background-repeat: no-repeat;
    filter: invert(100%);
    width: 4%;
    height: 6.2vh;
    background-position: center;
}

.home a:hover{
    background-color: #907d4c;
}

/*Partie contenu*/

main{
    background-color: #ffffff;
}

.cerveau{
    height: 100vh;
    background-image: url("../img/cerveau.jpg");
    background-repeat: no-repeat;
    background-size: 100vw, 98vh;
    background-position: center top;
    color: white;
    text-align: center;
}

.cerveau a{
    position: relative;
    top: 90vh;
    color: white;
}

.presentation{
    display: flex;
    height: 100vh;
    align-content: center;
    justify-content: space-around;
    background-color: #31394d;
    color: white;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.presentation h1{
    font: bold italic large serif;
    font-size: 500%;
    display: block;
    position: sticky;
    line-height: 350%;
    
}

.presentation p{
    display: fixed;
    position: relative;
    font-size: 200%;
    
}

.categories{
    display: flex;
    height: 100vh;
    align-content: center;
    justify-content: space-around;
    background-color: rgb(225, 226, 238);
}

.categories a{
    position: relative;
    display: flex;
    flex-basis: 33%;
    background-repeat: no-repeat;
    height: 80vh;
    margin-top: 10vh;
    z-index: 2;
    color: transparent;
}

.texteLiens h1{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top:250vh;
    color: #31394d;
    z-index: 1;
}

#texte1{
    right: 77%;
}

#texte2{
    right: 42%;
}

#texte3{
    right: 8%;
}

#projet{
    background-image: url("../img/neura.jpg");
    background-position: 75%;
    background-size: 60vw;
}

#lies {
    background-image: url("../img/oeil.jpeg");
    background-position: 48%;
    background-size: 62vw;
    
}

#futur {
    background-image: url("../img/transhumanisme.jpg");
    background-size: 40vw;
    background-position: 48%;
}

#projet:hover {
    filter: opacity(20%);
}

#lies:hover {
    filter: blur(40px);
    filter: opacity(20%);
}

#futur:hover {
    filter: blur(4px);
    filter: opacity(20%);
}

/*Partie Footer*/


footer{
    text-align: right;
    background-color: #31394d;
    bottom: 0;
    width: 100%;
    position: static;
    background-image: url("../img/IUT_Site_Tlse_I.jpg");
    background-repeat: no-repeat;
    background-position: 99%;
    background-size: 8vh;
}



footer p, a{
    text-align: center;
    color : white;
}


.logo-iut img{ 
    width: 10vh;
}